# Maven build
/target/
/allure-results/

# TestNG reports
/test-output/

# Logs
/logs/

# Ignore build outputs
target/
*.class
test-output/

# Ignore logs
*.log

# Ignore IDE settings
.idea/
.vscode/
*.iml
.classpath
.settings/
.project/

# Ignore OS files
.DS_Store
Thumbs.db
